 $naruto-orange: #FF9900;
 $naruto-yellow: #FFD700;

 .naruto-style {
     font-family: 'Permanent Marker', cursive; 
     color: $naruto-orange;
     font-style: italic;

     background: linear-gradient(to bottom, $naruto-yellow 0%, $naruto-orange 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     transition: transform 0.3s ease;

     &:hover {
         transform: scale(1.1) rotate(-2deg);
         cursor: pointer;
     }
 }
.wrapper-background {
    width: 100%;
    min-height: 450px;
    // რადიალური გრადიენტი, რომელიც ცენტრიდან ანათებს
    background: radial-gradient(circle, rgba(255, 153, 0, 0.2) 0%, rgba(17, 17, 17, 1) 80%);
    background-color: #111;
    border-top: 1px solid $naruto-orange;
    border-bottom: 1px solid $naruto-orange;
}

//  .naruto-style {
//      position: relative;

//      &::after {
//          content: '';
//          position: absolute;
//          bottom: -5px;
//          left: 0;
//          width: 100%;
//          height: 4px;
//          background: $naruto-black;
//          transform: skewX(-30deg);
//      }
//  }


 @media (min-width: 700px) {
     .grid-wrapper {
         grid-template-columns: repeat(2, 1fr);
         place-items: center;

     }

     #DropButton {
         display: none;
     }

     #DropDownMenu {
         position: relative;
         width: 431px;
         padding: 0;
         transform: translateX(0);
         transition: transform 0.1s ease;
         padding: 20px 0;

         ul {
             display: flex;
             justify-content: space-between;

             li {
                 font-style: normal;
                 margin: 0;
                 font-size: 17px;
             }
         }

     }

     .section-navigation {
         display: flex;
         justify-content: center;
     }

     .welcome-background-wrapper {
         background-position: left 0 top -100px;
     }

     .background-wrapper {
         text-align: center;

         h1 {
             font-size: 32px;
         }

         p {
             font-size: 16px;
         }
     }

     .welcome-background-wrapper {
         h2 {
             font-size: 32px;
         }

         p {
             font-size: 14px;
         }
     }
 }

 @media (min-width: 1100px) {
     .grid-wrapper {
         width: 1032px;
         grid-template-columns: repeat(3, 1fr);
     }

     .background-wrapper {
         text-align: center;

         h1 {
             font-size: 40px;
         }

         p {
             font-size: 18px;
         }
     }

     .welcome-background-wrapper {
         background-position: left 0 top -250px;

         h2 {
             font-size: 40px;

         }


         p {
             font-size: 18px;
         }
     }
 }